#interests {
    background: var(--primary-color);
    padding: 40px;
    border-radius: 16px;
    margin: 40px 20px;
    box-shadow: 0 8px 20px var(--shadow-color);
    scroll-margin-top: 50px;
    direction: rtl;
}

#interests h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
    background: linear-gradient(90deg, var(--text-color), var(--accent-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#interests p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.7;
    margin: 0 auto;
    max-width: 800px;
}