#projects {
    scroll-margin-top: 50px;
    padding: 0 50px;
}
.project-cards{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.current-projects ,
.development-projects {
    background-color:var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--shadow-color);
    padding: 20px;
    transition: transform ease 0.5s;
}

.current-projects:hover ,
.development-projects:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px var(--shadow-color);
}

#projects h2,
.current-projects h3,
.development-projects h3{
    direction: rtl;
}
#projects h2 {
    text-align: center;
    padding: 10px;
}

.project-cards ul{ 
    list-style: none;
}